ConsomeEnergia/web/WEB-INF/wsdl/localhost_8080/EnergiaEletrica/ConsumoEnergiaEletrica.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://energiaeletrica.servico.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://energiaeletrica.servico.com/">

<xs:element name="calcularConsumo" type="tns:calcularConsumo"/>

<xs:element name="calcularConsumoResponse" type="tns:calcularConsumoResponse"/>

<xs:complexType name="calcularConsumo">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="endereco" type="xs:string" minOccurs="0"/>
<xs:element name="leituraAnterior" type="xs:double"/>
<xs:element name="leituraAtual" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularConsumoResponse">
<xs:sequence>
<xs:element name="return" type="tns:unidadeConsumidora" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unidadeConsumidora">
<xs:sequence>
<xs:element name="endereco" type="xs:string" minOccurs="0"/>
<xs:element name="leituraAnterior" type="xs:double"/>
<xs:element name="leituraAtual" type="xs:double"/>
<xs:element name="nomeProprietario" type="xs:string" minOccurs="0"/>
<xs:element name="quantidadeConsumida" type="xs:double"/>
<xs:element name="valorPagar" type="xs:double"/>
<xs:element name="valorTarifa" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>